## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df.APPLICATION_TYPE.value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count< 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C8210        1
C1732        1
C2500        1
C1570        1
C6100        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_reduced = application_df.CLASSIFICATION.value_counts().loc[lambda x : x>1]
class_count_reduced

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1234        2
C3200        2
C1256        2
C1267        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count< 1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
cols_to_convert = application_df.dtypes[application_df.dtypes == "object"].index
application_df_dummies = pd.get_dummies(application_df, columns=cols_to_convert, drop_first=True)
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1)
y = application_df_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=30)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
# attempt #1: nn.add(tf.keras.layers.Dense(units=20, activation='relu', input_dim=len(X_train_scaled[0])))
nn.add(tf.keras.layers.Dense(units=60, activation='relu', input_dim=len(X_train_scaled[0])))



# Second hidden layer
# attempt #1: nn.add(tf.keras.layers.Dense(units=20, activation='relu'))
nn.add(tf.keras.layers.Dense(units=60, activation='relu'))



# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))



# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 60)                2220
_________________________________________________________________
dense_1 (Dense)              (None, 60)                3660
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 61
=================================================================
Total params: 5,941
Trainable params: 5,941
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Callback to save weights
#from keras.callbacks import Callback
callback = tf.keras.callbacks.ModelCheckpoint(filepath="Checkpoints/Checkpoints.{epoch}.hdf5", verbose=1, save_weights_only=True, save_freq="epoch", period=5)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 0s 430us/step - loss: 0.5724 - accuracy: 0.7202
Epoch 2/100
804/804 [==============================] - 0s 445us/step - loss: 0.5546 - accuracy: 0.7304
Epoch 3/100
804/804 [==============================] - 0s 438us/step - loss: 0.5520 - accuracy: 0.7313
Epoch 4/100
804/804 [==============================] - 0s 437us/step - loss: 0.5497 - accuracy: 0.7322
Epoch 5/100
697/804 [=========================>....] - ETA: 0s - loss: 0.5478 - accuracy: 0.7339
Epoch 00005: saving model to Checkpoints\Checkpoints.5.hdf5
804/804 [==============================] - 0s 448us/step - loss: 0.5477 - accuracy: 0.7339
Epoch 6/100
804/804 [==============================] - 0s 439us/step - loss: 0.5466 - accuracy: 0.7362
Epoch 7/100
804/804 [==============================] - 0s 435us/step - loss: 0.5457 - accuracy: 0.7345
Epoch 8/100
804/804 [==============================] - 0s 439us/step - loss: 0.5451 - accuracy: 0.7348
Epoch 9/100
804/804 [==============================] - 0s 425us/step - loss: 0.5447 - accuracy: 0.7352
Epoch 10/100
713/804 [=========================>....] - ETA: 0s - loss: 0.5429 - accuracy: 0.7367
Epoch 00010: saving model to Checkpoints\Checkpoints.10.hdf5
804/804 [==============================] - 0s 433us/step - loss: 0.5441 - accuracy: 0.7358
Epoch 11/100
804/804 [==============================] - 0s 427us/step - loss: 0.5435 - accuracy: 0.7361
Epoch 12/100
804/804 [==============================] - 0s 428us/step - loss: 0.5433 - accuracy: 0.7355
Epoch 13/100
804/804 [==============================] - 0s 441us/step - loss: 0.5431 - accuracy: 0.7365
Epoch 14/100
804/804 [==============================] - 0s 435us/step - loss: 0.5428 - accuracy: 0.7368
Epoch 15/100
706/804 [=========================>....] - ETA: 0s - loss: 0.5416 - accuracy: 0.7361
Epoch 00015: saving model to Checkpoints\Checkpoints.15.hdf5
804/804 [==============================] - 0s 438us/step - loss: 0.5417 - accuracy: 0.7363
Epoch 16/100
804/804 [==============================] - 0s 429us/step - loss: 0.5417 - accuracy: 0.7380
Epoch 17/100
804/804 [==============================] - 0s 428us/step - loss: 0.5408 - accuracy: 0.7379
Epoch 18/100
804/804 [==============================] - 0s 435us/step - loss: 0.5417 - accuracy: 0.7381
Epoch 19/100
804/804 [==============================] - 0s 425us/step - loss: 0.5407 - accuracy: 0.7381
Epoch 20/100
712/804 [=========================>....] - ETA: 0s - loss: 0.5416 - accuracy: 0.7373
Epoch 00020: saving model to Checkpoints\Checkpoints.20.hdf5
804/804 [==============================] - 0s 434us/step - loss: 0.5404 - accuracy: 0.7379
Epoch 21/100
804/804 [==============================] - 0s 427us/step - loss: 0.5406 - accuracy: 0.7374
Epoch 22/100
804/804 [==============================] - 0s 424us/step - loss: 0.5405 - accuracy: 0.7373
Epoch 23/100
804/804 [==============================] - 0s 430us/step - loss: 0.5402 - accuracy: 0.7376
Epoch 24/100
804/804 [==============================] - 0s 430us/step - loss: 0.5392 - accuracy: 0.7376
Epoch 25/100
717/804 [=========================>....] - ETA: 0s - loss: 0.5402 - accuracy: 0.7394
Epoch 00025: saving model to Checkpoints\Checkpoints.25.hdf5
804/804 [==============================] - 0s 431us/step - loss: 0.5398 - accuracy: 0.7385
Epoch 26/100
804/804 [==============================] - 0s 425us/step - loss: 0.5393 - accuracy: 0.7387
Epoch 27/100
804/804 [==============================] - 0s 425us/step - loss: 0.5393 - accuracy: 0.7388
Epoch 28/100
804/804 [==============================] - 0s 434us/step - loss: 0.5389 - accuracy: 0.7393
Epoch 29/100
804/804 [==============================] - 0s 436us/step - loss: 0.5389 - accuracy: 0.7397
Epoch 30/100
716/804 [=========================>....] - ETA: 0s - loss: 0.5388 - accuracy: 0.7397
Epoch 00030: saving model to Checkpoints\Checkpoints.30.hdf5
804/804 [==============================] - 0s 434us/step - loss: 0.5383 - accuracy: 0.7399
Epoch 31/100
804/804 [==============================] - 0s 425us/step - loss: 0.5383 - accuracy: 0.7398
Epoch 32/100
804/804 [==============================] - 0s 424us/step - loss: 0.5381 - accuracy: 0.7401
Epoch 33/100
804/804 [==============================] - 0s 425us/step - loss: 0.5380 - accuracy: 0.7404
Epoch 34/100
804/804 [==============================] - 0s 426us/step - loss: 0.5380 - accuracy: 0.7392
Epoch 35/100
706/804 [=========================>....] - ETA: 0s - loss: 0.5367 - accuracy: 0.7405
Epoch 00035: saving model to Checkpoints\Checkpoints.35.hdf5
804/804 [==============================] - 0s 439us/step - loss: 0.5381 - accuracy: 0.7390
Epoch 36/100
804/804 [==============================] - 0s 437us/step - loss: 0.5375 - accuracy: 0.7401
Epoch 37/100
804/804 [==============================] - 0s 429us/step - loss: 0.5374 - accuracy: 0.7397
Epoch 38/100
804/804 [==============================] - 0s 427us/step - loss: 0.5368 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 0s 426us/step - loss: 0.5371 - accuracy: 0.7407
Epoch 40/100
717/804 [=========================>....] - ETA: 0s - loss: 0.5380 - accuracy: 0.7385
Epoch 00040: saving model to Checkpoints\Checkpoints.40.hdf5
804/804 [==============================] - 0s 432us/step - loss: 0.5373 - accuracy: 0.7402
Epoch 41/100
804/804 [==============================] - 0s 425us/step - loss: 0.5369 - accuracy: 0.7401
Epoch 42/100
804/804 [==============================] - 0s 425us/step - loss: 0.5366 - accuracy: 0.7409
Epoch 43/100
804/804 [==============================] - 0s 426us/step - loss: 0.5365 - accuracy: 0.7400
Epoch 44/100
804/804 [==============================] - 0s 429us/step - loss: 0.5361 - accuracy: 0.7400
Epoch 45/100
712/804 [=========================>....] - ETA: 0s - loss: 0.5339 - accuracy: 0.7437
Epoch 00045: saving model to Checkpoints\Checkpoints.45.hdf5
804/804 [==============================] - 0s 434us/step - loss: 0.5361 - accuracy: 0.7412
Epoch 46/100
804/804 [==============================] - 0s 430us/step - loss: 0.5363 - accuracy: 0.7408
Epoch 47/100
804/804 [==============================] - 0s 431us/step - loss: 0.5360 - accuracy: 0.7408
Epoch 48/100
804/804 [==============================] - 0s 448us/step - loss: 0.5356 - accuracy: 0.7417
Epoch 49/100
804/804 [==============================] - 0s 452us/step - loss: 0.5358 - accuracy: 0.7408
Epoch 50/100
708/804 [=========================>....] - ETA: 0s - loss: 0.5362 - accuracy: 0.7414
Epoch 00050: saving model to Checkpoints\Checkpoints.50.hdf5
804/804 [==============================] - 0s 442us/step - loss: 0.5354 - accuracy: 0.7410
Epoch 51/100
804/804 [==============================] - 0s 443us/step - loss: 0.5353 - accuracy: 0.7416
Epoch 52/100
804/804 [==============================] - 0s 428us/step - loss: 0.5353 - accuracy: 0.7413
Epoch 53/100
804/804 [==============================] - 0s 434us/step - loss: 0.5357 - accuracy: 0.7414
Epoch 54/100
804/804 [==============================] - 0s 433us/step - loss: 0.5350 - accuracy: 0.7409
Epoch 55/100
788/804 [============================>.] - ETA: 0s - loss: 0.5356 - accuracy: 0.7410
Epoch 00055: saving model to Checkpoints\Checkpoints.55.hdf5
804/804 [==============================] - 0s 457us/step - loss: 0.5351 - accuracy: 0.7416
Epoch 56/100
804/804 [==============================] - 0s 435us/step - loss: 0.5348 - accuracy: 0.7416
Epoch 57/100
804/804 [==============================] - 0s 445us/step - loss: 0.5349 - accuracy: 0.7415
Epoch 58/100
804/804 [==============================] - 0s 435us/step - loss: 0.5346 - accuracy: 0.7417
Epoch 59/100
804/804 [==============================] - 0s 445us/step - loss: 0.5345 - accuracy: 0.7415
Epoch 60/100
706/804 [=========================>....] - ETA: 0s - loss: 0.5345 - accuracy: 0.7413
Epoch 00060: saving model to Checkpoints\Checkpoints.60.hdf5
804/804 [==============================] - 0s 438us/step - loss: 0.5342 - accuracy: 0.7416
Epoch 61/100

804/804 [==============================] - 0s 445us/step - loss: 0.5343 - accuracy: 0.7421
Epoch 62/100
804/804 [==============================] - 0s 435us/step - loss: 0.5344 - accuracy: 0.7416
Epoch 63/100
804/804 [==============================] - 0s 440us/step - loss: 0.5342 - accuracy: 0.7425
Epoch 64/100
804/804 [==============================] - 0s 452us/step - loss: 0.5342 - accuracy: 0.7421
Epoch 65/100
700/804 [=========================>....] - ETA: 0s - loss: 0.5345 - accuracy: 0.7424
Epoch 00065: saving model to Checkpoints\Checkpoints.65.hdf5
804/804 [==============================] - 0s 445us/step - loss: 0.5342 - accuracy: 0.7416
Epoch 66/100
804/804 [==============================] - 0s 446us/step - loss: 0.5337 - accuracy: 0.7417
Epoch 67/100
804/804 [==============================] - 0s 438us/step - loss: 0.5338 - accuracy: 0.7414
Epoch 68/100
804/804 [==============================] - 0s 437us/step - loss: 0.5340 - accuracy: 0.7420
Epoch 69/100
804/804 [==============================] - 0s 439us/step - loss: 0.5333 - accuracy: 0.7425
Epoch 70/100
689/804 [========================>.....] - ETA: 0s - loss: 0.5336 - accuracy: 0.7425
Epoch 00070: saving model to Checkpoints\Checkpoints.70.hdf5
804/804 [==============================] - 0s 447us/step - loss: 0.5336 - accuracy: 0.7424
Epoch 71/100
804/804 [==============================] - 0s 445us/step - loss: 0.5337 - accuracy: 0.7432
Epoch 72/100
804/804 [==============================] - 0s 438us/step - loss: 0.5338 - accuracy: 0.7420
Epoch 73/100
804/804 [==============================] - 0s 438us/step - loss: 0.5332 - accuracy: 0.7418
Epoch 74/100
804/804 [==============================] - 0s 442us/step - loss: 0.5336 - accuracy: 0.7418
Epoch 75/100
690/804 [========================>.....] - ETA: 0s - loss: 0.5331 - accuracy: 0.7419
Epoch 00075: saving model to Checkpoints\Checkpoints.75.hdf5
804/804 [==============================] - 0s 445us/step - loss: 0.5333 - accuracy: 0.7420
Epoch 76/100
804/804 [==============================] - 0s 442us/step - loss: 0.5327 - accuracy: 0.7425
Epoch 77/100
804/804 [==============================] - 0s 440us/step - loss: 0.5334 - accuracy: 0.7420
Epoch 78/100
804/804 [==============================] - 0s 437us/step - loss: 0.5331 - accuracy: 0.7420
Epoch 79/100
804/804 [==============================] - 0s 437us/step - loss: 0.5328 - accuracy: 0.7422
Epoch 80/100
692/804 [========================>.....] - ETA: 0s - loss: 0.5342 - accuracy: 0.7409
Epoch 00080: saving model to Checkpoints\Checkpoints.80.hdf5
804/804 [==============================] - 0s 445us/step - loss: 0.5331 - accuracy: 0.7421
Epoch 81/100
804/804 [==============================] - 0s 442us/step - loss: 0.5328 - accuracy: 0.7421
Epoch 82/100
804/804 [==============================] - 0s 447us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 83/100
804/804 [==============================] - 0s 441us/step - loss: 0.5325 - accuracy: 0.7425
Epoch 84/100
804/804 [==============================] - 0s 434us/step - loss: 0.5328 - accuracy: 0.7430
Epoch 85/100
700/804 [=========================>....] - ETA: 0s - loss: 0.5310 - accuracy: 0.7451
Epoch 00085: saving model to Checkpoints\Checkpoints.85.hdf5
804/804 [==============================] - 0s 442us/step - loss: 0.5323 - accuracy: 0.7435
Epoch 86/100
804/804 [==============================] - 0s 444us/step - loss: 0.5323 - accuracy: 0.7432
Epoch 87/100
804/804 [==============================] - 0s 438us/step - loss: 0.5329 - accuracy: 0.7423
Epoch 88/100
804/804 [==============================] - 0s 439us/step - loss: 0.5326 - accuracy: 0.7420
Epoch 89/100
804/804 [==============================] - 0s 439us/step - loss: 0.5328 - accuracy: 0.7421
Epoch 90/100
701/804 [=========================>....] - ETA: 0s - loss: 0.5317 - accuracy: 0.7418
Epoch 00090: saving model to Checkpoints\Checkpoints.90.hdf5
804/804 [==============================] - 0s 440us/step - loss: 0.5323 - accuracy: 0.7422
Epoch 91/100
804/804 [==============================] - 0s 441us/step - loss: 0.5322 - accuracy: 0.7437
Epoch 92/100
804/804 [==============================] - 0s 437us/step - loss: 0.5326 - accuracy: 0.7428
Epoch 93/100
804/804 [==============================] - 0s 442us/step - loss: 0.5321 - accuracy: 0.7430
Epoch 94/100
804/804 [==============================] - 0s 438us/step - loss: 0.5320 - accuracy: 0.7418
Epoch 95/100
696/804 [========================>.....] - ETA: 0s - loss: 0.5334 - accuracy: 0.7425
Epoch 00095: saving model to Checkpoints\Checkpoints.95.hdf5
804/804 [==============================] - 0s 443us/step - loss: 0.5321 - accuracy: 0.7430
Epoch 96/100
804/804 [==============================] - 0s 437us/step - loss: 0.5319 - accuracy: 0.7422
Epoch 97/100
804/804 [==============================] - 0s 436us/step - loss: 0.5316 - accuracy: 0.7421
Epoch 98/100
804/804 [==============================] - 0s 433us/step - loss: 0.5316 - accuracy: 0.7428
Epoch 99/100
804/804 [==============================] - 0s 435us/step - loss: 0.5318 - accuracy: 0.7430
Epoch 100/100
804/804 [==============================] - ETA: 0s - loss: 0.5322 - accuracy: 0.7432
Epoch 00100: saving model to Checkpoints\Checkpoints.100.hdf5
804/804 [==============================] - 0s 450us/step - loss: 0.5322 - accuracy: 0.7432

In [15]:
# Evaluate the model using the test data
# Attempt #1: Loss: 0.5681890845298767, Accuracy: 0.7197667360305786 
# Attempt #2: Loss: 0.5754483938217163, Accuracy: 0.7194169163703918
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5754 - accuracy: 0.7194
Loss: 0.5754483938217163, Accuracy: 0.7194169163703918

In [16]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE